@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: white;
  font-family: 'Arial Black', Arial, sans-serif;
}

.text-gold { color: #FFD700; }
.bg-gold { background-color: #FFD700; }

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

* {
  box-sizing: border-box;
}

header {
  height: 15vh;
  color: white;
  background-color: #213547;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  width: 100vw;
}
nav {
  height: 5vh;
  display: flex;
  justify-content: center;
  gap:3rem;
  border:1px solid gray;
  align-items: center;
}
main {
  min-height: 75vh;
  padding:2rem 3rem;
}
footer {
  height: 5vh;
  color: white;
  background-color: #213547;
  display:flex;
  align-items: center;
  justify-content: left;
  padding-left:1rem;
}